body {
  color: black;
  font-family: Arial;
  position: absolute;
}

.nav {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  border-bottom: 5px #6432a8 solid;
}
.glyph {
  font-family: Arial;
  font-size: 4vh;
  color: black;
  width: 5%;
  height: 10%;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.glyph span {
  color: #6432a8;
}

.chats {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background-color: #f2f2f2;
  border-right: 1px solid #dbdbdb;
  text-align: center;
}

.sec {
  height: 100%;
}

.section {
  height: 4%;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  padding-top: 5px;
}

.section span {
  color: #6432a8;
  font-weight: bold;
}

.active {
  border-right: 5px #6432a8 solid;
  background-color: #d4d4d4;
  font-weight: bold;
}

.section:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  left: 15%;
  width: 85%;
  bottom: 10%;
  height: 100%;
}

.message {
  background-color: #f2f2f2;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  width: 100%;
  padding: 5px 5px;
}

.from {
  position: relative;
  left: 0.5%;
  top: 2%;
  color: #6432a8;
  font-size: 1em;
}

.contents {
  position: relative;
  left: 2%;
}

.message-form {
  position: fixed;
  bottom: 0;
  left: 15%;
}

#message {
  width: 80vw;
  border: 2px solid #dbdbdb;
  height: 5vh;
  font-family: Arial;
}

#message:focus {
  outline-color: #6432a8;
}

.sendMessage {
  border: 1px #6432a8 solid;
  width: 4.4vw;
  height: 5vh;
  margin-left: -2px;
  border-radius: 5%;
  background-color: #6432a8;
  color: white;
  outline: none;
  cursor: pointer;
  margin-bottom: 0;
}
