@media screen and (max-width : 1050px) {
  .input {
    min-width: 250px;
    margin-left: 125px;
  }
  .loginForm {
    height: 50vh;
    width: 45%;
  }
}

@media screen and (max-width : 1025px) {
  .windowc {
    display: none;
  }
  .windows {
    display: none;
  }
  .questionForm {
    left: 50%;
  }
  .questions {
    left: 30%;
  }
  .sideNavl {
    width: 30%;
  }
  .header {
    left: 25%;
  }
  .ask {
    left: 90%;
  }
  .q-content {
    left: 30%;
  }
  .sq {
    left: 60%;
  }
  .formCont {

  }
}

@media screen and (max-width : 600px) {
  .windowc {
    display: none;
  }
  .windows {
    display: none;
  }
  .questionForm {
    left: 30%;
  }
  .questions {
    left: 0%;
    width: 100%;
  }
  .sideNavl {
    display: none;
  }
  .header {
    left: 0;
  }
  .ask {
    left: 75%;
    top: 5%;
  }
  .q-content {
    left: 0%;
  }
  .sq {
    left: 80%;
  }
  .input {
    min-width: 200px;
    margin-left: 100px;
  }
  .loginForm {
    height: 40vh;
    width: 55%;
  }
}
